@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Registration System</h1>
    <p><a asp-action="Create" asp-controller="Students">Register a Student</a></p>
    <p><a asp-action="Create" asp-controller="Subjects">Register a Subject</a></p>
</div>